*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: initial;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d6d7da;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
input,
select {
  font-family: inherit;
}

.container{
  box-sizing: border-box;
  background-color: #f6f6f8;
  border-radius: 20px;
  height: 90%;
  width: 70%;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0px 47px -33px;
  position: relative;
}

.hidden {
  display: none;
}

button{
  cursor: pointer;
}